<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./static/milligram.min.css">
    <link rel="stylesheet" href="./static/main.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Inter:300">
</head>

<body>
    <main>
        <h1>Hello World!</h1>
        {{the_val}}
    </main>
</body>

</html>